<!-- <section class="vh-100" style="background-color: #9A616D;"> -->
<section
  class="vh-100"
  style="
    background-color: rgb(255, 140, 0);
    background-image: url('assets/Swirl.png');
    background-position: center;
  "
>
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <!-- <div class="card" style="border: none; background-color: transparent;"> -->
        <div class="row g-0">
          <div
            class="col-md-6 col-lg-5 d-none d-md-block align-items-center justify-content-center"
            style="margin: 150px auto"
          >
            <img
              src="assets/Fooddelight-poster.jpg"
              alt="login form"
              class="img-fluid pb-3"
            />
            <h1 class="" style="padding-left: 35%; font-weight: bolder">
              FoodDelight
            </h1>
          </div>

          <!-- Login Form -->
          <div class="col-md-6 col-lg-7 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
              <form
                [formGroup]="loginForm"
                (ngSubmit)="validateLogin()"
                style="background-color: rgb(255, 140, 0)"
              >
                <div class="d-flex align-items-center mb-3 pb-1">
                  <span class="h1 fw-bold mb-0">Login</span>
                </div>

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                  Sign into your account
                </h5>

                <!-- Username -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form2Example17"
                    >Username</label
                  >
                  <input
                    type="email"
                    id="form2Example17"
                    class="form-control form-control-lg"
                    formControlName="username"
                  />
                  <div
                    class="invalid-input mt-1 text-danger"
                    *ngIf="
                      loginForm.get('username')?.errors &&
                      loginForm.get('username')?.touched
                    "
                  >
                    <div
                      *ngIf="loginForm.get('username')?.errors?.['required']"
                    >
                      Username Required.
                    </div>
                  </div>
                </div>

                <!-- Password -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form2Example27"
                    >Password</label
                  >
                  <input
                    type="password"
                    id="form2Example27"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                  <div
                    class="invalid-input mt-1 text-danger"
                    *ngIf="
                      loginForm.get('password')?.errors &&
                      loginForm.get('password')?.touched
                    "
                  >
                    <div
                      *ngIf="loginForm.get('password')?.errors?.['required']"
                    >
                      Password Required.
                    </div>
                  </div>
                </div>

                <div class="pt-1 mb-4">
                  <button
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-dark btn-lg btn-block"
                    type="submit"
                  >
                    Login
                  </button>
                </div>

                <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                <p class="mb-3 pb-lg-2" style="color: #1b48da">
                  Don't have an account?
                  <a
                    style="color: #1b48da; text-decoration: underline"
                    (click)="navigateRegister()"
                    >Register here</a
                  >
                </p>
                <a href="#!" class="small text-muted">Terms of use.</a>
                <a href="#!" class="small text-muted">Privacy policy</a>
              </form>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
