<section
  class="vh-105"
  style="
    background-color: rgb(255, 140, 0);
    background-image: url('assets/Swirl.png');
    background-position: center;
    height: 100vh;
  "
>
  <div class="container py0 h-105">
    <!-- py0 h100-->
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10" style="margin-top: 10%">
        <!-- <div class="card" style="border: none; background-color: transparent;"> -->
        <div class="row g-0">
          <div
            class="col-md-6 col-lg-4 d-none d-md-block align-items-center justify-content-center"
            style="margin: 150px auto"
          >
            <img
              src="assets/Fooddelight-poster.jpg"
              alt="register form"
              class="img-fluid pb-3"
            />
            <h1
              class="px-5 mx-4"
              style="font-weight: bolder; font-size: larger"
              style="color: black"
            >
              FoodDelight
            </h1>
          </div>
          <div class="col-md-6 col-lg-7 d-flex align-items-center">
            <div class="card-body p-3 p-lg-5 text-black">
              <form
                [formGroup]="registrationForm"
                (ngSubmit)="validateUser()"
                style="background-color: rgb(255, 140, 0)"
              >
                <div class="d-flex align-items-center mb-3 pb-1">
                  <span class="h1 fw-bold mb-0">Register</span>
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label">Full Name</label>
                  <input
                    type="text"
                    id="fullname"
                    formControlName="fullname"
                    class="form-control form-control-lg"
                  />
                  <span
                    *ngIf="
                      registrationForm.get('fullname')?.invalid &&
                      registrationForm.get('fullname')?.touched
                    "
                    style="color: red"
                  >
                    Please enter valid name
                  </span>
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label">Username</label>
                  <input
                    type="text"
                    id="username"
                    class="form-control form-control-lg"
                    formControlName="username"
                  />
                  <span
                    *ngIf="
                      registrationForm.get('username')?.invalid &&
                      registrationForm.get('username')?.touched
                    "
                    style="color: red"
                  >
                    Please enter valid username
                  </span>
                </div>

                <div data-mdb-input-init class="form-outline mb-3">
                  <label class="form-label">Email address</label>
                  <input
                    type="email"
                    id="form2Example17"
                    formControlName="email"
                    class="form-control form-control-lg"
                  />
                  <span
                    *ngIf="
                      registrationForm.get('email')?.invalid &&
                      registrationForm.get('email')?.touched
                    "
                    style="color: red"
                  >
                    Please enter valid email
                  </span>
                </div>

                <div data-mdb-input-init class="form-outline mb-3">
                  <label class="form-label">Password</label>
                  <input
                    type="password"
                    id="form2Example27"
                    formControlName="password"
                    class="form-control form-control-lg"
                  />
                  <!-- Error message for invalid password -->
                  <span
                    *ngIf="
                      registrationForm.get('password')?.hasError('required') &&
                      registrationForm.get('password')?.touched
                    "
                    style="color: red"
                  >
                    Password is required
                  </span>
                  <span
                    *ngIf="
                      registrationForm.get('password')?.hasError('minlength') &&
                      registrationForm.get('password')?.touched
                    "
                    style="color: red"
                  >
                    Password must be at least 4 characters
                  </span>
                  <span
                    *ngIf="
                      registrationForm.get('password')?.hasError('pattern') &&
                      registrationForm.get('password')?.touched
                    "
                    style="color: red"
                  >
                    Password must contain at least one capital letter and one
                    special character
                  </span>
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label">Confirm Password</label>
                  <input
                    type="password"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    class="form-control form-control-lg"
                  />
                  <span
                    *ngIf="
                      registrationForm.get('confirmPassword')?.touched &&
                      registrationForm.get('confirmPassword')?.value !==
                        registrationForm.get('password')?.value
                    "
                    style="color: red"
                  >
                    Passwords don't match
                  </span>
                </div>

                <div class="pt-1 mb-3">
                  <button
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-dark btn-lg btn-block"
                    type="submit"
                  >
                    Register
                  </button>
                </div>
                <p class="pb-lg-2" style="color: #1b48da">
                  Already have an account?
                  <a
                    style="color: #1b48da; text-decoration: underline"
                    (click)="navigateLogin()"
                    >Login here</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
